.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 320px) {
.h-custom-2 {
height: 100%;
}
}
body{
    background-image: var(--tertiary-color-gradient);
    color: var(--primary-color);
    

}

.blur-background {
    /* Your existing background image */
    background-image: var(--tertiary-color-gradient);
    
    /* Apply blur effect */
    backdrop-filter: blur(5px);
}
.btn-info {
    background-color: var(--nonary-color);
    /* border-color: green; Optional: If you want to change the border color as well */
    color: var(--primary-color);
}



