.dtr-bs-modal .modal-dialog{
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
}

#create {
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

#title-container {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px 10px 0px 0px;
    padding: 2rem; 
    filter: drop-shadow(0px 1px 24px rgba(0, 0, 0, 0.25));
}

#table-container {
    margin-top: -10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2rem;
    filter: drop-shadow(0px 1px 24px rgba(0, 0, 0, 0.25));
}

#users-table, #valid-emails-table {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
}

#users-table tr,
td,
th,
#valid-emails-table tr,
td,
th {
    padding: .5rem;
    /* border: 1px solid var(--septenary-color); */
}

#users-table th, #valid-emails-table th {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    /* border: 1px solid var(--septenary-color); */
}

#edit-row,
#delete-row,
#status-active,
#status-inactive {
    border: none;
    border-radius: 5px;
    padding: .5rem;
    color: var(--primary-color);
}

#status-active {  
    background-color: var(--secondary-color);
}

#status-inactive {
    background-color: var(--tertiary-color);
}

#edit-row {
    color: var(--septenary-color);
    background-color: var(--quarternary-color);
}

#delete-row {
    background-color: var(--quinary-color);
}

td.highlight {
    background-color: whitesmoke !important;
}

html.dark td.highlight {
    background-color: rgba(var(--dt-row-hover), 0.082) !important;
}

/* Responsive */
@media (min-width: 320px) {
    #main-container {
        padding: 1rem;
        padding-top: 6rem;
    }
}

@media (min-width: 768px) {
    #main-container {
        padding: 2rem;
        padding-top: 2rem;
    }
}