@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #007ea7;
    --tertiary-color: #3ec7d6;
    --quarternary-color: #efea7c;
    --quinary-color: #ea4353;
    --senary-color: #9C9C9C;
    --septenary-color: #000000;

    --octal-color: #344050;
    --nonary-color:#0046AD;

    --secondary-color-gradient: linear-gradient(180deg, #003249 0%, #007EA7 100%);
    --tertiary-color-gradient: linear-gradient(180deg, black 0%, #3533CD 100%);
  
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

html,
body {
    margin: 0;
    height: 100%;
}