#sidebar
{
    width: 280px;
    height: 100vh;
    background-color:#fff ;
    
    
}


.nav-link
{
    color: #252525;
    /* background-color: #fff; */
    
}
#username
{
    font-size: 21px;
    color: #252525;
}
